@import '~@fluentui/react/dist/sass/References.scss';

.recentlyUsedDocuments {
  .document {
    margin-bottom: 15px;
  }

  .title{
    color: rgb(3, 120, 124); //TODO: get this to reference the site theme. similar to how the searchRusults templates work
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: underline;
    padding-bottom: 5px;
    &:hover{
      color: rgb(1, 68, 70);
    }

  }

  // .lastAccessed {

  // }
  .previewText {
    height: 3em;
    overflow: hidden;
  }

  .docCard{
    max-width: 100%;
    border-width: 0px;
    height:auto;
    &:hover:after{
      border-width: 0px;
    }
  }

  .documentPreview {
    min-width: 144px;
  }

  .documentDetails {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
  }

  .noDocs {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }
}